* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

hr {
    margin: 25px 0;
}

.main_header {
    background-color: black;
    position: relative;
    div {
        position: relative;
        text-align: center;
        color: white;
        padding: 60px 0;
        line-height: 2.5;
        
        h2 {
            font-weight: lighter;
            font-size: 20px;
        }

        h1 {
            font-weight: lighter;
            font-size: 50px;
        }

        button {
            background-color: gray;
            padding: 10px;
            font-size: 30px;
            font-weight: bolder;
            color: white;
            border: none;
            &:hover {
                color: black;
                background-color: white;
            }
        }
    }

    i {
        top: 0;
        left: 50%;
        font-size: 30px;
        padding: 5px 10px;
        margin: 10px 15px;
        color: white;
        &:hover {
            color: black;
            background-color: gray;
        }
    }

}

.main_container {
    padding: 15px;


    .top_section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        height: 50vh;
        div {
            box-shadow: 1px 1px 5px 2px gray;
            text-align: center;
            line-height: 2.5;
        }

        h2 {
            font-weight: lighter;
        }

        i {
            padding: 20px;
        }

    }

    .colors {
        margin: 20px 0;

        h2 {
            text-align: center;
            padding: 30px;
            font-weight: 400;
        }

        hr {
            margin: 15px 0;
        }

        h3 {
            text-align: center;
            font-weight: 400;
        }

        > div {
            display: grid;
            grid-template-columns: repeat(6, 1fr);

            p {
                padding: 15px;
            }

            

            .white {
                color: white;
            }

            .red {
                background-color: #f44336;
            }

            .blue {
                background-color: #2196F3;
            }

            .grey {
                background-color: #607d8b;
            }

            .teal {
                background-color: #009688;
            }

            .yellow {
                background-color: #ffeb3b;
            }

            .orange {
                background-color: #ff9800;
            }
        }
    }

    .bars {
        > div {
            border: 1px solid grey;
            margin-top: 15px;
            
            p {
                padding: 15px;
            }
        }

        .top_bar {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .blue_bar {
                background-color: #2196F3;
                color: white;
            }
        }

        .middle_bar {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .green_bar {
                background-color: #4CAF50;
                color: white;
            }
        }

        .last_bar {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
             
            .red_bar {
                background-color: #f44336;
                color: white;
            }

        }
    }

    .containers {
        line-height: 2;
        .title {
            text-align: center;
            h2 {
                margin: 25px;
                font-weight: 400;
            }
        }

        > h3 {
            color: white;
            background-color: #607d8b;
            padding: 5px 15px;
            font-size: 30px;
            font-weight: 400;
        }

        .text {
            padding: 15px;
            h2 {
                font-weight: lighter;
            }
        }
        
        .back_gray {
            background-color: #607d8b;
            padding: 15px;
            h3 {
                color: white;
                opacity: 0.7;
                font-weight: lighter;
            }
            p {
                color: white;
                font-size: 20px;
            }
        }
    }

    .color_themes {
        > h2 {
            text-align: center;
            font-weight: lighter;
            margin: 30px;
        }

        > p {
            text-align: center;
            margin: 25px;
        }

        > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            
            .indigo {
                box-shadow: 1px 1px 5px 2px gray;

                hr {
                    margin: 0;
                }

                h2 {
                    color: white;
                    background-color: #3f51b5;
                    padding: 25px 15px;
                    font-weight: lighter;
                }

                h3 {
                    color: #3f51b5;
                    padding: 15px;
                    font-weight: lighter;
                    font-size: 25px;
                }

                h4 {
                    padding: 15px;
                    font-weight: lighter;
                    font-size: 25px;
                }

                p {
                    padding: 15px;
                }

                h5 {
                    padding: 5px 15px;
                    color: white;
                    background-color: #3f51b5;
                    text-align: right;
                    font-size: 20px;
                }
            }

            .theme {
                box-shadow: 1px 1px 5px 2px gray;

                hr {
                    margin: 0;
                }

                h2 {
                    color: white;
                    background-color: black;
                    padding: 25px 15px;
                    font-weight: lighter;
                }

                h3 {
                    padding: 15px;
                    font-weight: lighter;
                    font-size: 25px;
                }

                h4 {
                    padding: 15px;
                    font-weight: lighter;
                    font-size: 25px;
                }

                p {
                    padding: 15px;
                }

                h5 {
                    padding: 5px 15px;
                    color: white;
                    background-color: black;
                    text-align: right;
                    font-size: 20px;
                }
            }
        }
    }

    .cards {

        h2 {
            text-align: center;
            font-weight: lighter;
        }

        > div {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            margin-top: 20px;
    
            div {
                box-shadow: 1px 1px 5px 2px gray;
            }
    
            img {
                width: 100%;
            }
    
            p {
                padding: 15px;
            }
        }

    }
    
    .table {

        > h2 {
            text-align: center;
            font-weight: lighter;
            margin: 30px;
        }

        > p {
            text-align: center;
            margin: 25px;
        }
        


        table {
            box-shadow: 1px 1px 5px 2px gray;
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;

            thead {
                color: white;
                background-color: black;
            }

            td {
                padding: 10px;
            }
            
        }
    }

    .forms {
        > h2 {
            text-align: center;
            font-weight: lighter;
            margin: 30px;
        }

        > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            .form {
                box-shadow: 1px 1px 5px 2px gray;
                padding: 20px;
                input {
                    padding: 10px;
                    width: 97%;
                    border-radius: 5px;
                    border: none;
                }

                hr {
                    margin:0 0 5px 0;
                    width: 99%;
                }

                h2 {
                    font-weight: lighter;
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 20px;
                }
            }
        }

    }
}