* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.main_header {
  background-color: black;
  position: relative;
}
.main_header div {
  position: relative;
  text-align: center;
  color: white;
  padding: 60px 0;
  line-height: 2.5;
}
.main_header div h2 {
  font-weight: lighter;
  font-size: 20px;
}
.main_header div h1 {
  font-weight: lighter;
  font-size: 50px;
}
.main_header div button {
  background-color: gray;
  padding: 10px;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  border: none;
}
.main_header div button:hover {
  color: black;
  background-color: white;
}
.main_header i {
  top: 0;
  left: 50%;
  font-size: 30px;
  padding: 5px 10px;
  margin: 10px 15px;
  color: white;
}
.main_header i:hover {
  color: black;
  background-color: gray;
}
.main_container {
  padding: 15px;
}
.main_container .top_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  height: 50vh;
}
.main_container .top_section div {
  box-shadow: 1px 1px 5px 2px gray;
  text-align: center;
  line-height: 2.5;
}
.main_container .top_section h2 {
  font-weight: lighter;
}
.main_container .top_section i {
  padding: 20px;
}
.main_container .colors {
  margin: 20px 0;
}
.main_container .colors h2 {
  text-align: center;
  padding: 30px;
  font-weight: 400;
}
.main_container .colors hr {
  margin: 15px 0;
}
.main_container .colors h3 {
  text-align: center;
  font-weight: 400;
}
.main_container .colors > div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.main_container .colors > div p {
  padding: 15px;
}
.main_container .colors > div .white {
  color: white;
}
.main_container .colors > div .red {
  background-color: #f44336;
}
.main_container .colors > div .blue {
  background-color: #2196F3;
}
.main_container .colors > div .grey {
  background-color: #607d8b;
}
.main_container .colors > div .teal {
  background-color: #009688;
}
.main_container .colors > div .yellow {
  background-color: #ffeb3b;
}
.main_container .colors > div .orange {
  background-color: #ff9800;
}
